ANTHROPIC_API_KEY=your_key_here
WP_URL=https://yoursite.com
WP_USER=your_wp_username
WP_APP_PASSWORD=your_wp_application_password
RESEND_API_KEY=your_resend_key
REVIEWER_EMAIL=reviewer@youragency.com
WEBHOOK_BASE_URL=http://localhost:3001
WEBHOOK_PORT=3001
UX_QA_MAX_ITERATIONS=3
CODE_QA_MAX_ITERATIONS=2
APPROVAL_TIMEOUT_HOURS=4
